<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.mapper.OperationLogMapper">

    <resultMap type="com.lb.entity.OperationLog" id="OperationLogMap">
        <result property="operationLogId" column="operation_log_id" jdbcType="INTEGER"/>
        <result property="logDescription" column="log_description" jdbcType="VARCHAR"/>
        <result property="actionArgs" column="action_args" jdbcType="VARCHAR"/>
        <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="LONG INTEGER"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="action" column="action" jdbcType="VARCHAR"/>
        <result property="succeed" column="succeed" jdbcType="INTEGER"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
    </resultMap>
    
      <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        operation_log_id, log_description, action_args, user_no, class_name, method_name, ip, create_time, model_name, action, succeed, message        
    </sql>

</mapper>