<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lb.entity.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="salt" property="salt" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="avatar" property="avatar" />
        <result column="status" property="status" />
        <result column="dept_id" property="deptId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, username, password,nick_name as nickName salt, email, mobile, avatar, status, dept_id AS deptId, create_time AS createTime
    </sql>

</mapper>
