<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lb.entity.Menu">
        <id column="menu_id" property="menuId" />
        <result column="parent_id" property="parentId" />
        <result column="menu_code" property="menuCode" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="menu_type" property="menuType" />
        <result column="num" property="num" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id AS menuId, parent_id AS parentId, menu_code AS menuCode, code, name, menu_type AS menuType, num, url, icon
    </sql>
    <select id="getMenuByRoleCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select m.* from tb_menu m left join tb_role_to_menu r on m.menu_code=r.menu_code
        where 1=1
              <if test="roleCode != null and roleCode != ''">
                  and  r.role_code=#{roleCode}
              </if>
    </select>

</mapper>
